<div class="text-center my-4"> <!-- 画面中央にボタンを配置するためのdiv -->
  <%= link_to '曲を投稿する！', current_user ? new_song_path : login_path, class: "py-2 px-4 bg-blue-500 text-white text-xl rounded-md hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-400" %> <!-- ログインしている場合は新曲投稿ページ、そうでない場合はログインページへ遷移 -->
</div>

<%= render 'songs/ranking' %>

<ul>
<% @songs.each do |song| %>
  <li>
    <%= song.title %>
    <span><%= song.likes.count %> いいね</span>

    <% if current_user %>
      <%= render 'likes/like_button', song: song, liked: song.liked_by?(current_user) %>

      <% if song.user_id == current_user.id %>
        <%= button_to "削除", song_path(song), method: :delete, form: { data: { turbo_confirm: "削除してよろしいですか？" } } %>
      <% end %>
    <% end %>
  </li>
<% end %>
</ul>
