<h1>All Songs</h1>
<%= link_to '曲を検索', new_song_path %>

<%= render 'songs/ranking' %>

<ul>
<% @songs.each do |song| %>
  <li>
    <%= song.title %>
    <span><%= song.likes.count %> いいね</span>

    <% if current_user %>
      <%= render 'likes/like_button', song: song, liked: song.liked_by?(current_user) %>

      <% if song.user_id == current_user.id %>
        <%= button_to "削除", song_path(song), method: :delete, form: { data: { turbo_confirm: "削除してよろしいですか？" } } %>
      <% end %>
    <% end %>
  </li>
<% end %>

</ul>
