<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMt23cez/5paNdF+TmFE5k5KdU6Q6wih6M6b1bQ" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <nav>
        <% if current_user %>
          <%= button_to 'Logout', logout_path, method: :delete %>
          <p>Logged in as <%= current_user.username %>(<%= current_user.age %>) (<%= current_user.email %>)</p>
        <% else %>
          <%= link_to 'Login', login_path %>
          <%= link_to 'Sign up', new_user_path %> <!-- 新規登録ボタンを追加 -->
        <% end %>
      </nav>
    </header>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
